/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */
$primary-color: #E91E63;
$dark-primary: #C2185B;
$secondary-color: #FF5722;
$text-primary: #212121;
$text-secondary: #727272;	
  
body {
  background-color: $primary-color;
  color: $text-primary;
}

div.spacer {
  height: 7em;
  width: 100%;
}
