<div class="spacer"></div>
<div ng-app="wladder" ng-controller="MainCtrl"  ng-switch on="checked" ng-init="init()">
	<div class="panel" ng-switch-when="false" id="checked-false">
		<div class="row prefix-round">
			<h1>{{start_word}}</h1>
		</div>
    		<div style="float: right;">
			<%= image_tag "rocket.gif" %>
		</div> 	
 		<div ng-repeat="a in getNumber(5) track by $index" style="float:left;" class="row">
        			<div class="small-3 columns">
       		  			<a href="#" class="button prefix" ng-click="check()">Go</a>
        			</div>
        			<div class="small-6 columns" style="float: left;">
          				<input type="text" placeholder="Value" ng-model="a">
        			</div>
		</div>
 		<div class="row prefix-round">
			<h1>{{end_word}}</h1>
		</div>
	</div>
	<div class="panel" ng-switch-when="true" id="checked-true">
		<div ng-switch on="victory">
			<h1 ng-switch-when="true">You Win!</h1>
			<h1 ng-switch-when="false">You Lose!<h1>
		</div>
		<div class="row prefix-round">
                        <h1>{{start_word}}</h1>
                </div>
                <div style="float: right;">
                        <%= image_tag "rocket.gif" %>
                </div>  
                <div ng-repeat="a in attempts" style="float:left;" class="row">
                                <div class="small-9 columns">
                                        <input type="text" placeholder="Value" ng-model="a">
                                </div>
                </div>
                <div class="row prefix-round">
                        <h1>{{end_word}}</h1>
                </div>
		<div class="row prefix-round">
			<a class="button prefix" ng-click="refresh()" href="#">Retry</a>
		</div>
 	</div>
</div>
