<div ng-controller="ImgCtrl">
  <div ng-init="init()">
    <div style="margin-left:auto;margin-right:auto;display:inline-block;">
      <div>
        <h2 class="large-6 row"> Your Private Images </h2>
        <a href="/images/{{image.id}}" ng-repeat="image in private_image_names" ><img class="image small-2" src="/images/{{image.filename}}"></a>
      </div>
      <div>
        <h2 class="large-6 row"> Shared With You </h2>
        <a href="/images/{{image.id}}" ng-repeat="image in shared_image_names" ><img class="image small-2" src="/images/{{image.filename}}"></a>
      </div>
      <div>
        <h2 class="large-6 row"> Public Images </h2>
        <a href="/images/{{image.id}}" ng-repeat="image in public_image_names" ><img class="image small-2" src="/images/{{image.filename}}"></a>
      </div>
    </div>
  </div>
</div>
