<div>
  <div ng-init="init()">
    <div class="image-holder">
      <div ng-repeat="key in get_types()" ng-show="is_logged_in()">
        <h2 class="large-6 row">{{key}}</h2>
        <div class="large-3 image" ng-repeat="image in get_img_vals(key)">
          <img class="image" ng-click="img_show(image)" src="/images/{{image.filename}}">
          <p style="text-align:center;" ng-show="key != 'Your Private Images' && key != 'Your Public Images'">{{image.user}}</p>
        </div>
      </div>
      <div class="" ng-show="!is_logged_in()">
        <h2 class="large-6 row">Public Images</h2>
        <div class="large-3 image" ng-repeat="image in get_img_vals('Public Images')">
          <img class="image" ng-click="img_show(image)" src="/images/{{image.filename}}">
          <p style="text-align:center;"> {{image.user}} </p>
        </div>
      </div>
    </div>


    <div id="uploadModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= form_tag({controller: 'images', action: 'create'}, remote: true, :html => {:multipart => true}) do %>
        <%= hidden_field_tag :image, @image_id %>
        <%= file_field_tag :uploaded_file %>
        <%= submit_tag "Save", class: "button success" %>
      <% end %>
    </div>
    <!-- <ng-include src="templates/home_modal.html"></ng-include> -->
    <div id="imgModal" class="reveal-modal image-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <img id='imgModalSrc' src="" class="image large-6" data-image-id="" style="float:right; margin-right:3em;">
      <div class="large-3 columns">
        <h3> Tags </h3>
        <ul>
          <li ng-repeat="tag in tags" id="tag_{{tag.tag_id}}" class="row tag_holder">
            <p class="small-3" id="tag_{{tag.tag_id}}_p"> {{tag.str}} </p>
            <a class="small-3" href="#" class="tag-modify" ng-show="owner == 'true'" ng-click="modify_tag(i, tag.tag_id)" ng-repeat="i in ['edit', 'delete']">
              {{i}}
            </a>
            <div id="tag-edit-div" ng-show="tag_modify_id == tag.tag_id">
              <input id="edit-tag-input" type="text" value="{{tag.str}}">
              <button class="success round" ng-click="submit_edit(tag.tag_id)">Submit</button>
            </div>
          </li>
          </li>
            <button id="newTagButton" class="round" ng-show="owner == 'true'" ng-click="new_tag = true">New Tag</button>
            <div id="tag-new" ng-show="new_tag">
              <input id="new-tag-input" type="text" value="">
              <button class="success round" ng-click="new_tag_submit()">Submit</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="large-2 row columns" ng-show="owner == 'true'">
        <h3> Shared Users </h3>
        <ul>
          <li ng-repeat="user in get_users()">
            <p>
              {{user.name}} - {{user.email}}
            </p>
            <a class="small-3" href="#" ng-show="owner == 'true'" ng-click="remove_user(user)">
              remove
            </a>
          </li>
        </ul>
        <select class="medium">
          <option ng-repeat="user in unallowed_users" value="user">{{user.name}}</option>
        </select>
        <button class="round" ng-click="add_user(user)">Add User</button>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>


  </div>
</div>
