<div ng-controller="ImgCtrl">
  <div ng-init="init()">
    <div>
      <div ng-repeat="key in get_types()">
        <h2 class="large-6 row">{{key}}</h2>
        <img ng-repeat="image in get_img_vals(key)" class="image small-2" ng-click="img_show(image)" src="/images/{{image.filename}}">
        <p> {{image.user}} </p>
      </div>
    </div>

    <!-- NOT WORKING <div ng-include="home_modal.html"></div>-->
    <div id="imgModal" class="reveal-modal image-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <img id='imgModalSrc' src="" class="image large-6" data-image-id="" style="float:right; margin-right:3em;">
      <div class="large-3 columns">
        <h3> Tags </h3>
        <ul>
          <li ng-repeat="tag in tags" id="tag_{{tag.tag_id}}" class="row tag_holder">
            <p class="small-3" id="tag_{{tag.tag_id}}_p"> {{tag.str}} </p>
            <a class="small-3" href="#" class="tag-modify" ng-show="owner == 'true'" ng-click="modify_tag(i, tag.tag_id)" ng-repeat="i in ['edit', 'delete']">
              {{i}}
            </a>
            <div id="tag-edit-div" ng-show="tag_modify_id == tag.tag_id">
              <input id="edit-tag-input" type="text" value="{{tag.str}}">
              <button class="success round" ng-click="submit_edit(tag.tag_id)">Submit</button>
            </div>
          </li>
          </li>
            <button id="newTagButton" class="round" ng-show="owner == 'true'" ng-click="new_tag()">New Tag</button>
          </li>
        </ul>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

  </div>
</div>
