<div style="margin-top: 5em;">
    <div ng-show="page == 'home'" id="home_text" class="large-6 row">
      <h2 style="text-align: center;"> Welcome to the Chico Youth Courts home page </h2>
      <img src="/images/cyc_logo.jpg">
    </div>
    <div ng-show="page =='about'" id="about_text" class="large-6 row">
      <h2 style="text-align: center;"> About Chico Youth Court </h2>
      <br>
      <p ng-bind="about_text"></p>
    </div>
    <div ng-show="page =='history'" id="history_text" class="large-6 row">
      <h2 style="text-align: center;"> History </h2>
      <br>
      <p ng-bind="history_text"></p>
    </div>
</div>
