<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <a href="#{@reference.url}"> <%= @reference.url %></a>
</p>

<p>
  <strong>Topic:</strong>
  <%= @reference.topic %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> 
